{% extends 'layouuts/index.html' %}
{% block content %}
    <div class="product">
        <h1>{{ product.title }}</h1>
        <h4>{{ product.description }}</h4>
        <h4>{{ product }}</h4>
        <div class="dates">
            <h5>{{ product.created_date }}</h5>
            <h5>{{ product.modified_date}}</h5>
        </div>
        <div class="create_review">
            <form action="/products/{{ product.id }}/" method="product">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Add Comment">
            </form>
        </div>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <h6>{{ review.text }}</h6>
                    <p>{{ review.created_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
