{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post {
            width: 80%;
            margin-left: 10%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <div class="post">
        <h1>{{ post.title }}</h1>
        <h4>{{ post.description }}</h4>
        <h4>Rate: {{ post.rate }}</h4>
        <div class="dates">
            <h5>{{ post.created_date }}</h5>
            <h5>{{ post.modified_date }}</h5>
        </div>
    </div>
{% endblock %}